<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="test" verbose="1">
    <test name="demoqa">
        <classes>
            <class name="tests.ElementsPageTests">
                <methods>
                    <include name="urlTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>