<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="test">
    <test name="demoqa">
        <classes>
            <class name="tests.HandlersTests">
                <methods>
                    <include name="tabSwitchTest"/>
                </methods>
            </class>
        </classes>

    </test>
</suite>